.example-container {
    display: flex;
    flex-direction: column;
    margin: 20px 8px;
}

.example-container>* {
    width: 100%;
}

.example-card {
    max-width: 600px;
    margin: 120px auto;
    width: 80%;
}

.mat-card-title{
    font-size: 22px;
}

.mat-card-content{
    font-size: 16px;
}

.login-btn{
    margin-left: 8px;
}
.progress{
    margin-top: -25px!important;
    margin-left: -25px;
    margin-right: -25px;
    width: calc(100% + 50px);
    margin-bottom: 24px;
}